<% layout("/layouts/boilerplate")%>
<div class="row">
  <div class="col-8 offset-3">
    <br /><br />
    <h3><strong><%= listings.title %></strong><br /></h3>
    <div class="card listing-card" style="width: 40rem">
      <img
        src="<%=listings.image%>"
        class="card-img-top mb-3"
        alt="listing_image"
        style="height: 16rem"
      />
      <div class="card-body">
        <p class="card-text">
          Owner name -: <b><i><%= listings.owner.username %></i></b>
        </p>
        <p class="card-text"><%=listings.description%></p>
        <p class="card-text">₹<%= listings.price.toLocaleString("en-IN") %></p>
        <p class="card-text"><%=listings.location%></p>
        <p class="card-text"><%=listings.country%></p>
        <% if (currentUser && listings.owner._id.equals(currentUser._id)) { %>
        <div class="btn-show mt-2 ps-2">
          <button class="btn btn-outline-primary btn-edit">
            <a href="/listings/<%=listings._id%>/edit">Edit</a>
          </button>

          <form
            method="POST"
            action="/listings/<%= listings._id%>?_method=DELETE"
            onsubmit="return confirm(`Do you want to delete this Listings?`);"
          >
            <button class="btn btn-outline-dark offset-4">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="col-8 offset-2">
    <hr />
    <h4>Leave a Review</h4>
    <% if(currentUser) {%>
    <form
      method="POST"
      action="/listings/<%= listings._id%>/reviews"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          id="rating"
          name="review[rating]"
          min="1"
          max="5"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          cols="40"
          rows="5"
          id="review"
          name="review[comment]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add Comment also</div>
      </div>
      <div class="mb-3 mt-3">
        <button class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
    <% } else { %>
    <p>You need to log in for Write a Review..</p>
    <% } %>
  </div>

  <hr class="col-8 offset-2" />
  <div class="row offset-2">
    <p class="mb-3"><b>All Reviews</b></p>
    <% if(listings.reviews && listings.reviews.length > 0) { %> <% for(let
    review of listings.reviews) {%>
    <div class="card col-4 mb-2 mt-2 ms-3 pb-1">
      <div class="card-body">
        <div class="card-title"><b>@<%= review.author.username%></b></div>
        <div class="card-text"><b><%= review.rating%></b> Stars</div>
        <div class="card-text"><%= review.comment%></div>
      </div>
      <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
      <form
        method="post"
        action="/listings/<%= listings._id%>/reviews/<%= review._id%>?_method=DELETE"
        onsubmit="return confirm(`Do you want to delete Review?`)"
      >
        <button class="btn btn-sm btn-dark mb-2 mt-2">Delete</button>
      </form>
      <% } %>
    </div>
    <% } %> <% } else {%>
    <div class="text-muted mt-1 mb-3">
      No reviews yet. Be the first to leave a review!
    </div>
    <% } %>
  </div>
</div>
